# Configuration file

textures {
    # Icon to be used for Runic Bricks
    S:dungeonBlockIcons <
        runicdungeons:plain_brick
        runicdungeons:mossy_brick
        runicdungeons:cracked_brick
        runicdungeons:runeplain_brick
        runicdungeons:runemossy_brick
        runicdungeons:runecracked_brick
     >

    # Texture to be used for Runic Keyholes
    S:keyholeBlockIcon=runicdungeons:keyhole

    # Texture to be used for Runic Lamps
    S:lampBlockIcon=runicdungeons:rune_lamp

    # Pillar top, side, and bottom textures to be used for Runic Dungeon Pillars
    S:pillarBlockIcons <
        runicdungeons:pillarTop
        runicdungeons:pillarNoneSide
        runicdungeons:pillarTopSide
        runicdungeons:pillarBottomSide
        runicdungeons:pillarNormalSide
     >

    # Whether or not to use alternate 16x brick textures
    B:useAltBrickTextures=false

    # Whether or not to use alternate 16x keystone texture
    B:useAltKeyholeTexture=false

    # Whether or not to use alternate 16x lamp texture
    B:useAltLampTexture=false

    # Whether or not to use alternate 16x pillar textures
    B:useAltPillarTextures=false

    # Whether or not to use alternate 16x survival brick textures
    B:useAltSurvivalBrickTextures=false
}


