/TomeConfig/*
Desktop.ini
*.log
Thumbs.db
.AppleDouble
.DS_Store
.LSOverride
._*
*.bak
config/iChunUtil_KeyBinds.cfg
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/NEI/client.cfg
config/Tails.cfg
mods/appliedenergistics2-rv2-stable-10.jar
mods/CaveControl 1.7.10 V10d.jar
mods/ChromatiCraft 1.7.10 V10d.jar
mods/CondensedOres 1.7.10 V10d.jar
mods/CritterPet 1.7.10 V10d.jar
mods/DragonAPI 1.7.10 V10d.jar
mods/ElectriCraft 1.7.10 V10d.jar
mods/ExpandedRedstone 1.7.10 V10d.jar
mods/GeoStrata 1.7.10 V10d.jar
mods/MeteorCraft 1.7.10 V10d.jar
mods/ReactorCraft 1.7.10 V10d.jar
mods/RotaryCraft 1.7.10 V10d.jar
mods/TerritoryZone 1.7.10 V10d.jar
mods/TweakFix 1.7.10 V10d.jar
mods/UsefulTNT 1.7.10 V10d.jar
mods/VoidMonster 1.7.10 V10d.jar
mods/LegacyCraft 1.7.10 V10d.jar