# Configuration file

appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=2
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=2
    }

    item_toolnetherquartzaxe {
        I:axe=2
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=2
    }

    item_toolnetherquartzspade {
        I:shovel=2
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=2
    }

    item_toolnetworktool {
        I:wrench=0
    }

}


awwayoftime {

    boundaxe {
        I:axe=-1
    }

    boundshovel {
        I:shovel=-1
    }

    boundpickaxe {
        I:pickaxe=-1
    }

}


biomesoplenty {

    shovelamethyst {
        I:shovel=4
    }

    pickaxeamethyst {
        I:pickaxe=4
    }

    pickaxemud {
        I:pickaxe=0
    }

    axeamethyst {
        I:axe=4
    }

    shovelmud {
        I:shovel=4
    }

    axemud {
        I:axe=4
    }

}


botania {

    terraaxe {
        I:axe=4
    }

    manasteelshovel {
        I:shovel=3
    }

    glasspick {
        I:pickaxe=0
    }

    manasteelaxe {
        I:axe=3
    }

    terrapick {
        I:pickaxe=4
    }

    manasteelpick {
        I:pickaxe=3
    }

    elementiumpick {
        I:pickaxe=3
    }

    elementiumaxe {
        I:axe=3
    }

    elementiumshovel {
        I:shovel=3
    }

}


"buildcraft|core" {

    wrenchitem {
        I:wrench=0
    }

}


chromaticraft {

    chromaticraft_item_oresilk {
        I:pickax=3
        I:pickaxe=3
    }

    chromaticraft_item_orepick {
        I:pickax=2
        I:pickaxe=2
    }

}


enderio {

    item_darksteel_axe {
        I:axe=5
    }

    item_darksteel_pickaxe {
        I:pickaxe=5
    }

}


extrautilities {

    destructionpickaxe {
        I:pickaxe=3
    }

    defoliageaxe {
        I:axe=3
    }

    erosionshovel {
        I:shovel=3
    }

}


forbiddenmagic {

    morphshovel {
        I:shovel=4
    }

    taintpickaxe {
        I:pickaxe=5
    }

    taintshovel {
        I:shovel=3
    }

    morphpickaxe {
        I:pickaxe=4
    }

    morphaxe {
        I:axe=4
    }

}


forestry {

    bronzepickaxe {
        I:pickaxe=3
    }

    scoop {
        I:scoop=3
    }

    bronzeshovel {
        I:shovel=3
    }

    wrench {
        I:wrench=0
    }

    grafterproven {
        I:grafter=3
    }

    grafter {
        I:grafter=3
    }

}


gendustry {

    industrialscoop {
        I:scoop=3
    }

}


ic2 {

    itemnanosaber {
        I:sword=3
    }

    itemtoolbronzepickaxe {
        I:pickaxe=2
    }

    itemtooldrill {
        I:pickaxe=2
        I:shovel=2
    }

    itemtoolbronzespade {
        I:shovel=2
    }

    itemtoolddrill {
        I:pickaxe=3
        I:shovel=3
    }

    itemtooliridiumdrill {
        I:pickaxe=100
        I:shovel=100
    }

    itemtoolchainsaw {
        I:axe=2
        I:shears=2
        I:sword=2
    }

    itemtoolbronzeaxe {
        I:axe=2
    }

}


magicbees {

    item_thaumiumscoop {
        I:scoop=3
    }

    item_manasteelscoop {
        I:scoop=3
    }

    item_manasteelgrafter {
        I:grafter=3
    }

    item_thaumiumgrafter {
        I:grafter=3
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=3
    }

    diamond_pickaxe {
        I:pickaxe=3
    }

    stone_axe {
        I:axe=1
    }

    golden_pickaxe {
        I:pickaxe=0
    }

    iron_pickaxe {
        I:pickaxe=2
    }

    stone_shovel {
        I:shovel=1
    }

    iron_shovel {
        I:shovel=2
    }

    iron_axe {
        I:axe=2
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=1
    }

    diamond_axe {
        I:axe=3
    }

}


natura {

    natura_pickaxe_fusewood {
        I:pickaxe=2
    }

    natura_shovel_netherquartz {
        I:shovel=1
    }

    natura_shovel_darkwood {
        I:shovel=1
    }

    natura_shovel_bloodwood {
        I:shovel=2
    }

    natura_axe_darkwood {
        I:axe=1
    }

    natura_pickaxe_netherquartz {
        I:pickaxe=1
    }

    natura_axe_ghostwood {
        I:axe=0
    }

    natura_shovel_ghostwood {
        I:shovel=0
    }

    natura_shovel_fusewood {
        I:shovel=2
    }

    natura_axe_netherquartz {
        I:axe=1
    }

    natura_pickaxe_bloodwood {
        I:pickaxe=2
    }

    natura_axe_fusewood {
        I:axe=2
    }

    natura_pickaxe_darkwood {
        I:pickaxe=1
    }

    natura_axe_bloodwood {
        I:axe=2
    }

    natura_pickaxe_ghostwood {
        I:pickaxe=0
    }

}


opencomputers {

    wrench {
        I:wrench=1
    }

}


"projred|exploration" {

    projectred_exploration_shovelruby {
        I:shovel=2
    }

    projectred_exploration_pickaxeruby {
        I:pickaxe=2
    }

    projectred_exploration_axeperidot {
        I:axe=2
    }

    projectred_exploration_axesapphire {
        I:axe=2
    }

    projectred_exploration_shovelsapphire {
        I:shovel=2
    }

    projectred_exploration_shovelperidot {
        I:shovel=2
    }

    projectred_exploration_pickaxesapphire {
        I:pickaxe=2
    }

    projectred_exploration_pickaxeperidot {
        I:pickaxe=2
    }

    projectred_exploration_axeruby {
        I:axe=2
    }

}


railcraft {

    tool_crowbar_magic {
        I:crowbar=0
    }

    tool_steel_shovel {
        I:shovel=2
    }

    tool_steel_pickaxe {
        I:pickaxe=2
    }

    tool_crowbar {
        I:crowbar=0
    }

    tool_crowbar_reinforced {
        I:crowbar=0
    }

    tool_crowbar_void {
        I:crowbar=0
    }

    tool_steel_axe {
        I:axe=2
    }

}


redstonearsenal {

    tool_axeflux {
        I:axe=4
    }

    tool_pickaxeflux {
        I:pickaxe=4
    }

    tool_shovelflux {
        I:shovel=4
    }

    tool_battlewrenchflux {
        I:wrench=1
    }

    tool_wrenchflux {
        I:wrench=1
    }

}


rotarycraft {

    rotarycraft_item_bedpick {
        I:pickaxe=2147483647
    }

    rotarycraft_item_steelshovel {
        I:shovel=2
    }

    rotarycraft_item_bedaxe {
        I:axe=2147483647
    }

    rotarycraft_item_steelaxe {
        I:axe=2
    }

    rotarycraft_item_steelpick {
        I:pickaxe=2
    }

    rotarycraft_item_bedshovel {
        I:shovel=2147483647
    }

}


runicdungeons {

    item_runicsteelaxe {
        I:axe=3
    }

    item_runicsteelpickaxe {
        I:pickaxe=3
    }

    item_runicsteelshovel {
        I:shovel=3
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=3
    }

    itempickthaumium {
        I:pickaxe=3
    }

    itempickvoid {
        I:pickaxe=4
    }

    itemshovelvoid {
        I:shovel=4
    }

    itemaxethaumium {
        I:axe=3
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=3
    }

    itemaxevoid {
        I:axe=4
    }

    itempickaxeelemental {
        I:pickaxe=3
    }

    itemaxeelemental {
        I:axe=3
    }

}


thaumictinkerer {

    ichorshovelgem {
        I:shovel=4
    }

    ichorpickgem {
        I:pickaxe=4
    }

    ichorpick {
        I:pickaxe=4
    }

    ichoraxegem {
        I:axe=4
    }

    ichorshovel {
        I:shovel=4
    }

    ichoraxe {
        I:axe=4
    }

}


thermalexpansion {

    wrench {
        I:wrench=1
    }

    tool_battlewrenchinvar {
        I:wrench=1
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=1
    }

    tool_shovelnickel {
        I:shovel=2
    }

    tool_shovellead {
        I:shovel=1
    }

    tool_shovelinvar {
        I:shovel=2
    }

    tool_axesilver {
        I:axe=2
    }

    tool_pickaxeplatinum {
        I:pickaxe=4
    }

    tool_axenickel {
        I:axe=2
    }

    tool_shovelbronze {
        I:shovel=2
    }

    tool_axelead {
        I:axe=1
    }

    tool_sickleinvar {
        I:sickle=2
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=2
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=1
    }

    tool_sicklebronze {
        I:sickle=2
    }

    tool_shoveltin {
        I:shovel=1
    }

    tool_pickaxecopper {
        I:pickaxe=1
    }

    tool_pickaxelead {
        I:pickaxe=1
    }

    tool_sickletin {
        I:sickle=1
    }

    tool_axeinvar {
        I:axe=2
    }

    tool_pickaxesilver {
        I:pickaxe=2
    }

    tool_axetin {
        I:axe=1
    }

    tool_pickaxenickel {
        I:pickaxe=2
    }

    tool_shovelsilver {
        I:shovel=2
    }

    tool_pickaxetin {
        I:pickaxe=1
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=2
    }

    tool_shovelplatinum {
        I:shovel=4
    }

    tool_sicklesilver {
        I:sickle=2
    }

    tool_axeplatinum {
        I:axe=4
    }

    tool_sickleplatinum {
        I:sickle=4
    }

    tool_sicklelead {
        I:sickle=1
    }

    tool_pickaxebronze {
        I:pickaxe=2
    }

    tool_shovelcopper {
        I:shovel=1
    }

    tool_sicklenickel {
        I:sickle=2
    }

}


twilightforest {

    item_fierypick {
        I:pickaxe=4
    }

    item_ironwoodshovel {
        I:shovel=2
    }

    item_knightlypick {
        I:pickaxe=3
    }

    item_steeleafpick {
        I:pickaxe=3
    }

    item_steeleafshovel {
        I:shovel=3
    }

    item_mazebreakerpick {
        I:pickaxe=3
    }

    item_giantpick {
        I:pickaxe=1
    }

    item_ironwoodpick {
        I:pickaxe=2
    }

    item_ironwoodaxe {
        I:axe=2
    }

    item_minotauraxe {
        I:axe=3
    }

    item_steeleafaxe {
        I:axe=3
    }

    item_knightlyaxe {
        I:axe=3
    }

}


ztones {

    splataxe {
        I:axe=-1
    }

    diamondzane {
        I:axe=-1
        I:pickaxe=-1
        I:shovel=-1
    }

    terraineater {
        I:axe=-1
        I:pickaxe=-1
        I:shear=-1
        I:shovel=-1
    }

}


